/* Микс */
:root {
	--color-green: #00928d;
	--color-yellow: #ffba00;
	--color-grey-dk: #666;
	--gap: 40px;
}

@media screen and (max-width: 479px) {
	.section-title {
		padding-bottom: 10px;
		font-size: 20px;
		line-height: 30px;
	}

	.header {
		margin-bottom: 10px;
		box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
	}

	.header__nav {
		padding: 0 15px;
	}

	.header__wrapper {
		flex-wrap: nowrap;
		flex-direction: column;
		gap: 10px;
		padding: 10px 0;
	}

	.container {
		padding: 0 10px;
	}

	.nav__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
	}

	.nav__link {
		font-size: 16px;
		line-height: 20px;
	}

	/* Главная */
	/* hero */
	.hero__img-logo {
		max-width: 100px;
	}

	.hero__img-logo {
		max-width: 100px;
	}

	.hero__img-text {
		max-width: 300px;
	}
	/* о нас */
	.about__wrapper {
		padding: 30px 0;
	}
	.about__desc {
		font-size: 16px;
		line-height: 20px;
	}

	/* Новости */
	.article__img-preview {
		max-width: 300px;
	}
	.article__text-preview {
		padding: 10px;
	}

	.article__time-preview {
		margin-bottom: 5px;
		font-size: 10px;
		line-height: 16px;
	}
	.article__sub-title-preview {
		margin: 0;
		margin-bottom: 3px;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
	}

	.article__desc-preview {
		font-size: 12px;
		line-height: 18px;
	}

	/* Подвал */

	.footer__wrapper {
		display: flex;
		flex-direction: column;
		padding: 10px 0;
	}
	.footer__content {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: 10px;
	}
	.footer__logo {
		max-width: 40px;
	}
	.footer__info {
		max-width: 300px;
		font-size: 12px;
		line-height: 16px;
	}
	.footer__desc {
		margin-bottom: 10px;
	}

	.footer__contacts {
		flex-direction: row-reverse;
		align-items: center;
		text-align: left;
		font-size: 12px;
		line-height: 16px;
	}
	.footer__email {
		margin: 0;
	}

	.footer__address {
		font-style: normal;
		max-width: 200px;
	}
	/* Страница "Проекты" */
	.projects__wrapper-all {
		margin-top: 20px;
	}
	.project__item {
		max-height: 120px;
	}
	.project__link-text:first-child {
		font-size: 24px;
		line-height: 30px;
	}

	.project__link-text:last-child {
		font-size: 32px;
		line-height: 36px;
	}
	.project-pw .project__link-text:first-child {
		font-size: 20px;
		line-height: 28px;
	}

	.project-pw .project__link-text:last-child {
		font-size: 16px;
		line-height: 22px;
	}
	/* Страница проекта "ВК" */
	.project__sub-title {
		margin-bottom: 20px;
	}

	.project__sub-title-word:first-child {
		color: var(--color-yellow);
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
	}

	.project__sub-title-word:last-child {
		color: var(--color-green);
		font-weight: 800;
		font-size: 40px;
		line-height: 48px;
	}
	.project__desc {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		text-align: start;
	}
	.project__content-preview {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.project__content-preview iframe {
		margin-bottom: 20px;
		max-width: 350px;
		max-height: 200px;
	}

	.project__content-preview-text {
		padding: 0;
		max-width: 350px;
		font-size: 16px;
		line-height: 20px;
	}

	.project__content-preview-desc:first-child {
		font-weight: 400;
		padding-bottom: 20px;
	}

	/* Все новости */
	.article__list {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
		gap: var(--gap);
	}

	.article__item {
		width: 350px;
	}

	.article__link {
		display: flex;

		align-items: center;
	}

	.article__img {
		max-width: 150px;
	}

	.article__text {
		display: flex;
		align-items: flex-start;
		padding: 10px;
		max-width: 200px;
	}

	.article__time {
		display: block;
		margin-bottom: 10px;
		font-weight: 300;
		font-size: 10px;
		line-height: 14px;
	}
	.article__sub-title {
		margin: 0;
		margin-bottom: 5px;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
	}
	.article__desc {
		font-size: 12px;
		line-height: 16px;
	}

	/* Страница новостей */
	.article__link-back {
		font-size: 16px;
	}

	.article__wrapper-news {
		padding: 0 20px;
	}

	.article-page__title {
		font-size: 14px;
		line-height: 18px;
	}

	.article-page__sub-title {
		padding-bottom: 20px;
		font-size: 14px;
		line-height: 18px;
	}

	.article__wrapper-info {
		margin: 0;
	}

	.article-page__sub-title {
		font-size: 14px;
		line-height: 18px;
	}
	.article-page__img {
		margin-bottom: 20px;
		max-width: 350px;
	}
	.article-page__desc {
		padding-bottom: 10px;
		text-align: left;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
	}

	.article-page__desc-bold {
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
	}

	.article-page__map {
		max-width: 350px;
	}

	.article-page__list-ol {
	}

	.article-page__item-ol {
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
	}

	.article-page__list-ul {
	}

	.article-page__item-ul {
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
	}
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1440px) {
}
