/* Микс */
:root {
	--color-green: #00928d;
	--color-yellow: #ffba00;
	--color-grey-dk: #666;
	--gap-10: 10px;
	--gap-20: 20px;
	--gap-30: 30px;
	--gap-40: 40px;
	--gap-50: 50px;
}

@media screen and (max-width: 1440px) {
	/* --Главная-- 1440*/
	.header {
		margin-bottom: var(--gap-30);
	}

	.container {
		padding: 0 150px;
	}

	.nav__list {
		gap: var(--gap-30);
	}

	.nav__link {
		font-size: 18px;
	}

	/* ---*/
	.hero__wrapper {
		gap: var(--gap-20);
	}

	.hero__img-logo {
		max-width: 15%;
	}

	.hero__img-text {
		max-width: 60%;
	}

	.about__wrapper {
		padding: var(--gap-40);
	}

	.about__desc {
		max-width: 700px;
	}

	/* --- */
	.projects-preview__link {
		padding: 20px 60px;
	}

	.projects-preview__link-text:first-child {
		font-size: 18px;
	}

	.projects-preview__link-text:last-child {
		font-size: 32px;
	}

	/* --- */
	.articles-preview__content-wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: var(--gap-30);
	}

	.articles-preview__content {
		max-width: 370px;
	}

	.articles-preview__text {
		padding: var(--gap-20);
		height: 140px;
	}

	.articles-preview__time {
		font-size: 12px;
	}

	.articles-preview__sub-title {
		font-size: 16px;
	}

	.articles-preview__desc {
		font-size: 14px;
	}

	/* --- */
	.footer__logo {
		max-width: 100px;
	}

	.footer__info {
		font-size: 14px;
		max-width: 300px;
	}

	.footer__contacts {
		font-size: 14px;
	}

	.footer__email {
		margin-bottom: var(--gap-10);
	}

	/* --Проекты-- 1440*/
	.projects__link {
		height: 260px;
	}

	.projects__link-text:first-child {
		font-size: 30px;
	}

	.projects__link-text:last-child {
		font-size: 60px;
	}
	.projects-pw .projects__link-text:first-child {
		font-size: 32px;
	}

	.projects-pw .projects__link-text:last-child {
		font-size: 24px;
	}

	/* --Вершины Кавказа-- 1440*/
	.project__sub-title {
		margin-bottom: var(--gap-10);
	}

	.project__sub-title-word:first-child {
		font-size: 40px;
		line-height: 1;
	}

	.project__sub-title-word:last-child {
		font-size: 60px;
		line-height: 1;
	}
	.project__desc {
		font-size: 18px;
	}

	.project__content-preview iframe {
		margin-bottom: var(--gap-30);
		width: 640px;
		height: 300px;
	}

	/* --Страница c Новостями-- 1440*/
	.articles__img {
		max-width: 180px;
	}

	.articles__text {
		max-width: 200px;
	}

	.articles__time {
		font-size: 10px;
	}
	.articles__sub-title {
		font-size: 14px;
	}
	.articles__desc {
		font-size: 12px;
	}
}

/* --------------------------------------------- */

@media screen and (max-width: 1024px) {
	.section-title {
		font-size: 24px;
	}

	.header {
		margin-bottom: var(--gap-20);
	}

	.container {
		padding: 0 50px;
	}

	.nav__list {
		gap: var(--gap-20);
	}

	/* --- */
	.hero__wrapper {
		gap: var(--gap-10);
	}

	.hero__img-text {
		max-width: 70%;
	}

	.about__wrapper {
		padding: var(--gap-30);
	}

	.articles-preview__content-wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: var(--gap-30);
	}

	.articles-preview__content {
		max-width: 320px;
	}

	/* --- */
	.footer__logo {
		max-width: 80px;
	}

	.footer__info {
		max-width: 250px;
		font-size: 12px;
	}

	.footer__desc {
		margin-bottom: var(--gap-20);
	}

	.footer__contacts {
		font-size: 12px;
	}

	.footer__email {
		margin-bottom: var(--gap-10);
	}

	.footer__address {
		width: 160px;
	}
}

/* Страница "Проекты" 1024*/
.project__link {
	height: 200px;
}

.project__link-text:first-child {
	font-size: 24px;
}

.project__link-text:last-child {
	font-size: 48px;
}
.project-pw .project__link-text:first-child {
	font-size: 24px;
}

.project-pw .project__link-text:last-child {
	font-size: 10px;
}

/* --Вершины Кавказа-- 1024*/
.project__info {
	margin-bottom: var(--gap-20);
}

.project__sub-title {
	margin-bottom: var(--gap-10);
}

.project__sub-title-word:first-child {
	font-size: 36px;
	line-height: 1;
}

.project__sub-title-word:last-child {
	font-size: 52px;
	line-height: 1;
}
.project__desc {
	font-size: 16px;
}

.project__content-first {
	margin-bottom: var(--gap-20);
}

.project__content-preview {
	display: flex;
	flex-direction: column;
}

.project__content-preview iframe {
	margin-bottom: var(--gap-30);
}

.project__content-preview-text {
	padding: 0;
	max-width: 90%;
}

.project__content-preview-desc:first-child {
	font-weight: 500;
	padding-bottom: var(--gap-10);
}

/* --Страница c Новостями-- 1024*/
.articles-page__wrapper {
	grid-template-columns: repeat(1, 1fr);
}

.articles__img {
	max-width: 200px;
}

.articles__text {
	max-width: 250px;
}

.articles__time {
	font-size: 12px;
}

.articles__sub-title {
	font-size: 14px;
}

.articles__desc {
	font-size: 12px;
}

/* ------------------------------------- */

@media screen and (max-width: 768px) {
	.section-offset {
		margin-bottom: var(--gap-20);
	}

	.header {
		margin-bottom: var(--gap-20);
	}

	.container {
		padding: 0 30px;
	}

	/* Главная */
	.hero__wrapper {
		gap: var(--gap-10);
	}

	.about__wrapper {
		padding: var(--gap-20);
	}

	.articles-preview__content-wrapper {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: var(--gap-20);
	}

	.articles-preview__content {
		max-width: 300px;
	}

	/* Подвал */
	.footer__wrapper {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		padding: var(--gap-30);
	}

	.footer__content {
		flex-direction: column-reverse;
		text-align: center;
	}

	.footer__info {
		margin: 0;
		font-size: 12px;
		margin-bottom: var(--gap-10);
	}

	.footer__desc {
		margin-bottom: var(--gap-10);
	}

	.footer__contacts {
		align-items: center;
		text-align: center;
		font-size: 12px;
	}

	.footer__email {
		margin-bottom: var(--gap-10);
	}

	.footer__address {
		width: 200px;
		margin-bottom: var(--gap-10);
	}

	/* Страница "Проекты" 768*/
	.projects__link {
		height: 160px;
		padding: var(--gap-30);
	}

	.projects__link-text:first-child {
		font-size: 20px;
	}

	.projects__link-text:last-child {
		font-size: 40px;
	}

	.projects-pw .projects__link-text:first-child {
		font-size: 20px;
	}

	.projects-pw .projects__link-text:last-child {
		font-size: 14px;
	}
	/* --Вершины Кавказа-- 768*/
	.project__wrapper {
		padding: 0;
	}

	.project__desc {
		font-size: 14px;
	}

	.project__content-first {
		margin-bottom: var(--gap-20);
	}

	.project__content-preview iframe {
		margin-bottom: var(--gap-30);
		width: 420px;
	}

	.project__content-preview-text {
		font-size: 14px;
	}

	.project__content-preview-desc:first-child {
		font-weight: 500;
		padding-bottom: var(--gap-10);
	}

	/* --Страница c Новостями-- 768*/
	.articles__img {
		max-width: 150px;
	}

	.articles__text {
		max-width: 200px;
	}

	.articles__time {
		font-size: 10px;
	}

	.articles__sub-title {
		font-size: 12px;
	}

	.articles__desc {
		font-size: 10px;
	}
}

/* ------------------------------------- */

@media screen and (max-width: 476px) {
	.section-title {
		padding-bottom: var(--gap-10);
		font-size: 18px;
	}

	.header {
		margin-bottom: var(--gap-10);
	}

	.header__wrapper {
		padding: var(--gap-10) 0;
	}

	.container {
		padding: 0 var(--gap-10);
	}

	.nav__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--gap-10);
	}

	.nav__link {
		font-size: 14px;
	}

	/* --- */
	.hero__wrapper {
		gap: var(--gap-10);
	}

	.hero__img-text {
		max-width: 90%;
	}

	.about__wrapper {
		padding: var(--gap-20);
	}

	.about__desc {
		font-size: 14px;
	}

	.projects-preview__link {
		padding: 15px 50px;
	}

	.projects-preview__link-text:first-child {
		font-size: 14px;
	}

	.projects-preview__link-text:last-child {
		font-size: 20px;
	}

	.articles-preview__content-wrapper {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: var(--gap-10);
	}

	.articles-preview__content {
		max-width: 300px;
	}

	.articles-preview__text {
		padding: var(--gap-10);
		height: 100px;
	}

	.articles-preview__time {
		font-size: 10px;
	}
	.articles-preview__sub-title {
		font-size: 12px;
	}

	.articles-preview__desc {
		font-size: 10px;
	}

	/* --- */
	.footer__logo {
		max-width: 60px;
	}

	.footer__wrapper {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		padding: var(--gap-10) 0;
	}

	.footer__content {
		flex-direction: column-reverse;
		text-align: center;
	}

	.footer__info {
		margin: 0;
		font-size: 12px;
		margin-bottom: var(--gap-10);
	}

	.footer__desc {
		margin-bottom: var(--gap-10);
	}

	.footer__contacts {
		font-size: 10px;
	}

	.footer__address {
		width: 147px;
	}

	/* Страница "Проекты" 476*/
	.projects__wrapper {
		margin-top: var(--gap-40);
	}

	.projects__link {
		margin-bottom: var(--gap-10);
		height: 100px;
	}

	.projects__link-text:first-child {
		font-size: 14px;
	}

	.projects__link-text:last-child {
		font-size: 20px;
	}
	.projects-pw .projects__link-text:first-child {
		font-size: 18px;
	}

	.projects-pw .projects__link-text:last-child {
		font-size: 14px;
	}
	/* --Вершины Кавказа-- 1024*/
	.project__info {
		margin-bottom: var(--gap-20);
	}

	.project__sub-title {
		margin-bottom: var(--gap-10);
	}

	.project__sub-title-word:first-child {
		font-size: 28px;
		line-height: 1;
	}

	.project__sub-title-word:last-child {
		font-size: 48px;
		line-height: 1;
	}
	.project__desc {
		font-size: 14px;
	}

	.project__content-first {
		margin-bottom: var(--gap-20);
	}

	.project__content-preview {
		display: flex;
		flex-direction: column;
	}

	.project__content-preview iframe {
		margin-bottom: var(--gap-20);
		width: 300px;
		height: 180px;
	}

	.project__content-preview-text {
		font-size: 12px;
	}

	/* --Страница c Новостями-- 476*/

	.articles-page {
		padding: 0;
	}

	.articles__link {
		justify-content: center;
	}

	.articles__img {
		max-width: 250px;
	}

	.articles__text {
		display: flex;
		max-width: 250px;
		justify-content: center;
	}

	.articles__time {
		font-size: 12px;
	}

	.articles__sub-title {
		font-size: 14px;
	}

	.articles__desc {
		font-size: 12px;
	}
}
