/* Микс */
:root {
	--color-green: #00928d;
	--color-yellow: #ffba00;
	--color-grey-dk: #666;
	--gap-10: 10px;
	--gap-20: 20px;
	--gap-30: 30px;
	--gap-40: 40px;
	--gap-50: 50px;
}

@media screen and (max-width: 1440px) {
	.section-title {
		padding-bottom: 10px;
		font-size: 20px;
		line-height: 30px;
	}
