/* Микс */
:root {
	--color-green: #00928d;
	--color-yellow: #ffba00;
	--color-grey-dk: #666;
	--gap-10: 10px;
	--gap-20: 20px;
	--gap-30: 30px;
	--gap-40: 40px;
	--gap-50: 50px;
}

@media screen and (max-width: 1440px) {
	.header {
		margin-bottom: var(--gap-30);
	}

	.container {
		padding: 0 150px;
	}

	.nav__list {
		gap: var(--gap-30);
	}

	.nav__link {
		font-size: 16px;
	}

	/* ---*/
	.hero__wrapper {
		gap: var(--gap-10);
	}

	.hero__img-logo {
		max-width: 20%;
	}

	.hero__img-text {
		max-width: 70%;
	}

	.about__wrapper {
		padding: var(--gap-40);
	}

	.about__desc {
		max-width: 700px;
	}

	/* --- */
	.projects-preview__link {
		padding: 20px 60px;
	}

	.projects-preview__link-text:first-child {
		font-size: 18px;
	}

	.projects-preview__link-text:last-child {
		font-size: 32px;
	}

	/* --- */
	.articles-preview__content-wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: var(--gap-30);
	}

	.articles-preview__content {
		max-width: 370px;
	}

	.articles-preview__text {
		padding: var(--gap-20);
		height: 140px;
	}

	.articles-preview__time {
		font-size: 12px;
	}

	.articles-preview__sub-title {
		font-size: 16px;
	}

	.articles-preview__desc {
		font-size: 14px;
	}

	/* --- */
	.footer__logo {
		max-width: 100px;
	}

	.footer__info {
		font-size: 14px;
		max-width: 300px;
	}

	.footer__contacts {
		font-size: 14px;
	}

	.footer__email {
		margin-bottom: var(--gap-10);
	}

	/* Страница "Проекты" 1440*/
	.project__link {
		height: 260px;
	}

	.project__link-text:first-child {
		font-size: 30px;
	}

	.project__link-text:last-child {
		font-size: 60px;
	}
	.project-pw .project__link-text:first-child {
		font-size: 32px;
	}

	.project-pw .project__link-text:last-child {
		font-size: 24px;
	}
}

/* --------------------------------------------- */

@media screen and (max-width: 1024px) {
	.section-title {
		font-size: 24px;
	}

	.header {
		margin-bottom: var(--gap-20);
	}

	.container {
		padding: 0 100px;
	}

	.nav__list {
		gap: var(--gap-20);
	}

	/* --- */
	.hero__wrapper {
		gap: var(--gap-10);
	}

	.hero__img-text {
		max-width: 70%;
	}

	.about__wrapper {
		padding: var(--gap-30);
	}

	.articles-preview__content-wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: var(--gap-30);
	}

	.articles-preview__content {
		max-width: 320px;
	}

	/* --- */
	.footer__logo {
		max-width: 80px;
	}

	.footer__info {
		max-width: 250px;
		font-size: 12px;
	}

	.footer__desc {
		margin-bottom: var(--gap-20);
	}

	.footer__contacts {
		font-size: 12px;
	}

	.footer__email {
		margin-bottom: var(--gap-10);
	}

	.footer__address {
		width: 160px;
	}
}

/* Страница "Проекты" 1024*/
.project__link {
	height: 200px;
}

.project__link-text:first-child {
	font-size: 24px;
}

.project__link-text:last-child {
	font-size: 48px;
}
.project-pw .project__link-text:first-child {
	font-size: 24px;
}

.project-pw .project__link-text:last-child {
	font-size: 18px;
}

/* ------------------------------------- */

@media screen and (max-width: 768px) {
	.section-offset {
		margin-bottom: var(--gap-20);
	}

	.header {
		margin-bottom: var(--gap-20);
	}

	.container {
		padding: 0 50px;
	}

	/* Главная */
	.hero__wrapper {
		gap: var(--gap-10);
	}

	.about__wrapper {
		padding: var(--gap-20);
	}

	.articles-preview__content-wrapper {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: var(--gap-20);
	}

	.articles-preview__content {
		max-width: 300px;
	}

	/* Подвал */
	.footer__wrapper {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		padding: var(--gap-30);
	}

	.footer__content {
		flex-direction: column-reverse;
		text-align: center;
	}

	.footer__info {
		margin: 0;
		font-size: 12px;
		margin-bottom: var(--gap-10);
	}

	.footer__desc {
		margin-bottom: var(--gap-10);
	}

	.footer__contacts {
		align-items: center;
		text-align: center;
		font-size: 12px;
	}

	.footer__email {
		margin-bottom: var(--gap-10);
	}

	.footer__address {
		width: 200px;
		margin-bottom: var(--gap-10);
	}

	/* Страница "Проекты" 768*/
	.project__link {
		height: 200px;
	}

	.project__link-text:first-child {
		font-size: 24px;
	}

	.project__link-text:last-child {
		font-size: 48px;
	}

	.project-pw .project__link-text:first-child {
		font-size: 24px;
	}

	.project-pw .project__link-text:last-child {
		font-size: 18px;
	}
}

/* ------------------------------------- */

@media screen and (max-width: 476px) {
	.section-title {
		padding-bottom: var(--gap-10);
		font-size: 18px;
	}

	.header {
		margin-bottom: var(--gap-10);
	}

	.header__wrapper {
		padding: var(--gap-10) 0;
	}

	.container {
		padding: 0 var(--gap-10);
	}

	.nav__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--gap-10);
	}

	.nav__link {
		font-size: 14px;
	}

	/* --- */
	.hero__wrapper {
		gap: var(--gap-10);
	}

	.hero__img-text {
		max-width: 90%;
	}

	.about__wrapper {
		padding: var(--gap-20);
	}

	.about__desc {
		font-size: 14px;
	}

	.projects-preview__link {
		padding: 15px 50px;
	}

	.projects-preview__link-text:first-child {
		font-size: 14px;
	}

	.projects-preview__link-text:last-child {
		font-size: 20px;
	}

	.articles-preview__content-wrapper {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: var(--gap-10);
	}

	.articles-preview__content {
		max-width: 300px;
	}

	.articles-preview__text {
		padding: var(--gap-10);
		height: 100px;
	}

	.articles-preview__time {
		font-size: 10px;
	}
	.articles-preview__sub-title {
		font-size: 12px;
	}

	.articles-preview__desc {
		font-size: 10px;
	}

	/* --- */
	.footer__logo {
		max-width: 60px;
	}

	.footer__wrapper {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		padding: var(--gap-10) 0;
	}

	.footer__content {
		flex-direction: column-reverse;
		text-align: center;
	}

	.footer__info {
		margin: 0;
		font-size: 12px;
		margin-bottom: var(--gap-10);
	}

	.footer__desc {
		margin-bottom: var(--gap-10);
	}

	.footer__contacts {
		font-size: 10px;
	}

	.footer__address {
		width: 147px;
	}

	/* Страница "Проекты" 476*/
	.projects__wrapper-all {
		margin-top: 10px;
	}

	.project__item {
		margin-bottom: var(--gap-10);
		max-height: 125px;
	}

	.project__link-text:first-child {
		font-size: 20px;
	}

	.project__link-text:last-child {
		font-size: 28px;
		line-height: 36px;
	}
	.project-pw .project__link-text:first-child {
		font-size: 20px;
	}

	.project-pw .project__link-text:last-child {
		font-size: 16px;
	}
}
