/* Микс */
:root {
	--color-green: #00928d;
	--color-yellow: #ffba00;
	--color-grey-dk: #666;
	--gap-10: 10px;
	--gap-20: 20px;
	--gap-30: 30px;
	--gap-40: 40px;
	--gap-50: 50px;
}

@media screen and (min-width: 320px) and (max-width: 476px) {
	.section-title {
		padding-bottom: var(--gap-10);
		font-size: 18px;
		line-height: 24px;
	}

	.header {
		margin-bottom: var(--gap-10);
		box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
	}

	.header__wrapper {
		padding: var(--gap-10) 0;
	}

	.container {
		padding: 0 var(--gap-10);
	}

	.nav__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--gap-10);
	}

	.nav__link {
		font-size: 14px;
		line-height: 20px;
	}

	/* Главная */
	.hero__wrapper {
		gap: var(--gap-10);
	}

	.hero__img-logo {
		max-width: 100px;
	}

	.hero__img-text {
		max-width: 320px;
	}

	.about__wrapper {
		padding: var(--gap-30) 0;
	}

	.about__desc {
		font-size: 16px;
		line-height: 20px;
	}

	.article__img-preview {
		max-width: 320px;
	}
	.article__text-preview {
		padding: var(--gap-10);
	}

	.article__time-preview {
		margin-bottom: 5px;
		font-weight: 300;
		font-size: 12px;
		line-height: 18px;
	}
	.article__sub-title-preview {
		margin: 0;
		margin-bottom: 3px;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
	}

	.article__desc-preview {
		font-size: 12px;
		line-height: 18px;
	}

	/* Подвал */

	.footer__wrapper {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		padding: var(--gap-10) 0;
	}

	.footer__content {
		flex-direction: column-reverse;
		text-align: center;
	}

	.footer__info {
		margin: 0;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: var(--gap-10);
	}

	.footer__logo {
		max-width: 70px;
	}

	.footer__desc {
		margin-bottom: 10px;
	}

	.footer__contacts {
		align-items: center;
		text-align: center;
		max-width: 320px;
		font-size: 10px;
		line-height: 14px;
	}

	.footer__email {
		margin-bottom: var(--gap-10);
	}

	.footer__address {
		width: 147px;
		margin-bottom: var(--gap-10);
	}

	/* Страница "Проекты" */
	.projects__wrapper-all {
		margin-top: 10px;
	}

	.project__item {
		margin-bottom: var(--gap-10);
		max-height: 125px;
	}

	.project__link-text:first-child {
		font-size: 20px;
		line-height: 28px;
	}

	.project__link-text:last-child {
		font-size: 28px;
		line-height: 36px;
	}
	.project-pw .project__link-text:first-child {
		font-size: 20px;
		line-height: 28px;
	}

	.project-pw .project__link-text:last-child {
		font-size: 16px;
		line-height: 20px;
	}
	/* Страница проекта "ВК" */
	.roject__info {
		max-width: 320px;
	}

	.project__sub-title {
		margin-bottom: var(--gap-10);
	}

	.project__sub-title-word:first-child {
		color: var(--color-yellow);
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
	}

	.project__sub-title-word:last-child {
		color: var(--color-green);
		font-weight: 800;
		font-size: 32px;
		line-height: 40px;
	}
	.project__desc {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		text-align: start;
	}

	.project__content-preview {
		display: flex;
		flex-direction: column;
		max-width: 320px;
	}

	.project__content-preview iframe {
		margin-bottom: var(--gap-10);
		width: 320px;
		height: 150px;
	}

	.project__content-preview-text {
		padding: 0;
		font-size: 14px;
		line-height: 18px;
	}

	.project__content-preview-desc:first-child {
		padding-bottom: var(--gap-10);
	}

	/* Все новости */

	.article__list {
		display: flex;
		flex-direction: row;
	}

	.article__item {
		max-width: 0px;
	}

	.article__img {
		max-width: 120px;
	}

	.article__text {
		display: flex;
		align-items: left;
		padding: var(--gap-10);
		max-width: 200px;
	}

	.article__time {
		display: block;
		margin-bottom: 10px;
		font-weight: 300;
		font-size: 10px;
		line-height: 14px;
	}
	.article__sub-title {
		margin: 0;
		margin-bottom: 5px;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
	}
	.article__desc {
		font-size: 10px;
		line-height: 14px;
	}

	/* Страница новостей */
	.article__link-back {
		font-size: 16px;
	}

	.article__wrapper-news {
		padding: 0 10px;
	}

	.article-page__title {
		font-size: 14px;
		line-height: 18px;
	}

	.article-page__sub-title {
		padding-bottom: 20px;
		font-size: 14px;
		line-height: 18px;
	}

	.article__wrapper-info {
		margin: 0;
	}

	.article-page__sub-title {
		font-size: 14px;
		line-height: 18px;
	}

	.article-page__img {
		margin-bottom: 20px;
		max-width: 400px;
	}

	.article-page__desc {
		padding-bottom: 10px;
		text-align: left;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
	}

	.article-page__desc-bold {
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
	}

	.article-page__map {
		max-width: 350px;
	}

	.article-page__item-ol {
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
	}

	.article-page__item-ul {
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
	}
}
