/* Микс */
:root {
	--color-green: #00928d;
	--color-yellow: #ffba00;
	--color-grey-dk: #666;
	--gap-10: 10px;
	--gap-20: 20px;
	--gap-30: 30px;
	--gap-40: 40px;
	--gap-50: 50px;
}

@media screen and (max-width: 1440px) {
	.section-title {
	}

	.header {
		margin-bottom: var(--gap-30);
	}

	.container {
		padding: 0 150px;
	}

	.nav__list {
		gap: var(--gap-30);
	}

	.nav__link {
		font-size: 16px;
	}

	/* Главная */
	.hero__wrapper {
		gap: var(--gap-10);
	}

	.hero__img-logo {
		max-width: 20%;
	}

	.hero__img-text {
		max-width: 70%;
	}

	.about__wrapper {
		padding: var(--gap-40);
	}

	.about__desc {
		max-width: 700px;
	}

	.projects-preview__link {
		padding: 20px 60px;
	}

	.projects-preview__link-text:first-child {
		font-size: 18px;
	}

	.projects-preview__link-text:last-child {
		font-size: 32px;
	}

	.articles-preview__content-wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: var(--gap-30);
	}

	.articles-preview__content {
		max-width: 370px;
	}

	.articles-preview__text {
		padding: var(--gap-20);
		height: 140px;
	}

	.articles-preview__time {
		font-size: 12px;
	}
	.articles-preview__sub-title {
		font-size: 16px;
	}

	.articles-preview__desc {
		font-size: 14px;
	}

	/* Подвал */
	.footer__logo {
		max-width: 80px;
	}

	.footer__info {
		font-size: 14px;
	}

	.footer__contacts {
		font-size: 14px;
	}
}

/* --------------------------------------------- */

@media screen and (max-width: 1024px) {
	.section-title {
		font-size: 24px;
	}

	.header {
		margin-bottom: var(--gap-20);
	}

	.container {
		padding: 0 100px;
	}

	.nav__list {
		gap: var(--gap-20);
	}

	/* Главная */
	.hero__wrapper {
		gap: var(--gap-10);
	}

	.hero__img-text {
		max-width: 70%;
	}

	.about__wrapper {
		padding: var(--gap-30);
	}

	.articles-preview__content-wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: var(--gap-30);
	}

	.articles-preview__content {
		max-width: 320px;
	}

	/* Подвал */
	.footer__logo {
		max-width: 80px;
	}

	.footer__info {
		max-width: 300px;
		font-size: 12px;
	}

	.footer__desc {
		margin-bottom: var(--gap-10);
	}

	.footer__contacts {
		justify-content: center;
		font-size: 10px;
	}

	.footer__email {
		margin-bottom: var(--gap-10);
	}

	.footer__address {
		width: 160px;
	}
}
/* --------------------------------------------- */

@media screen and (max-width: 768px) {
	.section-offset {
		margin-bottom: var(--gap-20);
	}

	.header {
		margin-bottom: var(--gap-20);
	}

	.container {
		padding: 0 50px;
	}

	/* Главная */
	.hero__wrapper {
		gap: var(--gap-10);
	}

	.about__wrapper {
		padding: var(--gap-20);
	}

	.articles-preview__content-wrapper {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: var(--gap-20);
	}

	.articles-preview__content {
		max-width: 300px;
	}

	/* Подвал */
	.footer__wrapper {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		padding: var(--gap-30);
	}

	.footer__content {
		flex-direction: column-reverse;
		text-align: center;
	}

	.footer__info {
		margin: 0;
		font-size: 12px;
		margin-bottom: var(--gap-10);
	}

	.footer__desc {
		margin-bottom: var(--gap-10);
	}

	.footer__contacts {
		align-items: center;
		text-align: center;
		font-size: 12px;
	}

	.footer__email {
		margin-bottom: var(--gap-10);
	}

	.footer__address {
		width: 200px;
		margin-bottom: var(--gap-10);
	}
}
/* --------------------------------------------- */

@media screen and (max-width: 476px) {
	.section-title {
		padding-bottom: var(--gap-10);
		font-size: 18px;
	}

	.header {
		margin-bottom: var(--gap-10);
	}

	.header__wrapper {
		padding: var(--gap-10) 0;
	}

	.container {
		padding: 0 var(--gap-10);
	}

	.nav__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--gap-10);
	}

	.nav__link {
		font-size: 14px;
	}

	/* Главная */
	.hero__wrapper {
		gap: var(--gap-10);
	}

	.hero__img-text {
		max-width: 90%;
	}

	.about__wrapper {
		padding: var(--gap-20);
	}

	.about__desc {
		font-size: 14px;
	}

	.projects-preview__link {
		padding: 15px 50px;
	}

	.projects-preview__link-text:first-child {
		font-size: 14px;
	}

	.projects-preview__link-text:last-child {
		font-size: 20px;
	}

	.articles-preview__content-wrapper {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: var(--gap-10);
	}

	.articles-preview__content {
		max-width: 300px;
	}

	.articles-preview__text {
		padding: var(--gap-10);
		height: 100px;
	}

	.articles-preview__time {
		font-size: 10px;
	}
	.articles-preview__sub-title {
		font-size: 12px;
	}

	.articles-preview__desc {
		font-size: 10px;
	}

	/* Подвал */
	.footer__logo {
		max-width: 60px;
	}

	.footer__wrapper {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		padding: var(--gap-10) 0;
	}

	.footer__content {
		flex-direction: column-reverse;
		text-align: center;
	}

	.footer__info {
		margin: 0;
		font-size: 12px;
		margin-bottom: var(--gap-10);
	}

	.footer__desc {
		margin-bottom: var(--gap-10);
	}

	.footer__contacts {
		font-size: 10px;
	}

	.footer__address {
		width: 147px;
	}

	/* ------------------------------------------------- */

	/* Страница "Проекты" */
	.projects__wrapper-all {
		margin-top: 10px;
	}

	.project__item {
		margin-bottom: var(--gap-10);
		max-height: 125px;
	}

	.project__link-text:first-child {
		font-size: 20px;
	}

	.project__link-text:last-child {
		font-size: 28px;
		line-height: 36px;
	}
	.project-pw .project__link-text:first-child {
		font-size: 20px;
	}

	.project-pw .project__link-text:last-child {
		font-size: 16px;
	}
	/* Страница проекта "ВК" */
	.project__info {
		max-width: 320px;
	}

	.project__sub-title {
		margin-bottom: var(--gap-10);
	}

	.project__sub-title-word:first-child {
		color: var(--color-yellow);
		font-weight: 500;
		font-size: 24px;
	}

	.project__sub-title-word:last-child {
		color: var(--color-green);
		font-weight: 800;
		font-size: 32px;
	}
	.project__desc {
		font-weight: 400;
		font-size: 16px;

		text-align: start;
	}

	.project__content-preview {
		display: flex;
		flex-direction: column;
		max-width: 90%;
	}

	.project__content-preview iframe {
		margin-bottom: var(--gap-10);
		width: 90%;
		height: 150px;
	}

	.project__content-preview-text {
		padding: 0 10px;
		font-size: 14px;
	}

	.project__content-preview-desc:first-child {
		padding-bottom: var(--gap-10);
	}

	/* Все новости */

	.article__list {
	}

	.article__item {
		max-width: 90%;
	}

	.article__link {
		flex-wrap: wrap;
		justify-content: center;
	}

	.article__img {
	}

	.article__text {
		display: flex;
		align-items: left;
		padding: var(--gap-10);
		max-width: 200px;
	}

	.article__time {
		display: block;
		margin-bottom: 10px;
		font-weight: 300;
		font-size: 10px;
	}

	.article__sub-title {
		margin: 0;
		margin-bottom: 5px;
		font-weight: 500;
		font-size: 12px;
	}

	.article__desc {
		font-size: 10px;
	}

	/* Страница новостей */
	.article__link-back {
		font-size: 16px;
	}

	.article__wrapper-news {
		padding: 0 10px;
	}

	.article-page__title {
		font-size: 14px;
	}

	.article-page__sub-title {
		padding-bottom: 20px;
		font-size: 14px;
	}

	.article__wrapper-info {
		margin: 0;
	}

	.article-page__sub-title {
		font-size: 14px;
	}

	.article-page__img {
		margin-bottom: 20px;
		max-width: 400px;
	}

	.article-page__desc {
		padding-bottom: 10px;
		text-align: left;
		font-weight: 400;
		font-size: 14px;
	}

	.article-page__desc-bold {
		font-weight: 500;
		font-size: 14px;
	}

	.article-page__map {
		max-width: 350px;
	}

	.article-page__item-ol {
		font-weight: 500;
		font-size: 14px;
	}

	.article-page__item-ul {
		font-weight: 400;
		font-size: 14px;
	}
}
