@font-face {
	font-family: "Onest";
	src: local(OnestLight), url(../fonts/OnestLight.woff2) format("woff2"),
		url(../fonts/OnestLight.woff) format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: local(OnestRegular), url(../fonts/OnestRegular.woff2) format("woff2"),
		url(../fonts/OnestRegular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: local(OnestMedium), url(../fonts/OnestMedium.woff2) format("woff2"),
		url(../fonts/OnestMedium.woff) format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: local(OnestExtraBold),
		url(../fonts/OnestExtraBold.woff2) format("woff2"),
		url(../fonts/OnestExtraBold.woff) format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

/* Микс */
:root {
	--color-green: #00928d;
	--color-yellow: #ffba00;
	--color-grey-dk: #666;
	--gap: 40px;
}

/* All-settings */
html {
	box-sizing: border-box;
	line-height: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

img {
	max-width: 100%;
}

body {
	min-width: 320px;
	font-family: "Onest", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: #333;
	background-color: #fff;
}

/* All-resets */
.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.section-title {
	margin: 0;
	width: 100%;
	padding-bottom: 20px;
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	color: var(--color-grey-dk);
}

.section-offset {
	margin-bottom: var(--gap);
}

.container {
	margin: 0 auto;
	padding: 0 250px;
	max-width: 1900px;
}

/* ---Шапка--- */
.header__wrapper {
	padding: 20px 0;
}

.pages__nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.home__link {
	display: inline-flex;
	max-width: 50px;
}

.home__link:hover {
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.home__link:active {
	filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}

.nav__list {
	display: flex;
	justify-content: flex-end;
	gap: var(--gap);
}

.nav__link {
	color: var(--color-grey-dk);
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	transition: all 0.3s ease-in-out;
}

.nav__link:focus {
	outline: 1px solid var(--color-green);
	outline-offset: 2px;
	border-radius: 5px;
}

.nav__link:hover {
	border-bottom: 1px solid var(--color-green);
	outline: transparent;
}

.nav__link:active {
	color: var(--color-yellow);
	border-bottom: 1px solid var(--color-green);
	border-radius: 0;
	outline: transparent;
}

/* ---ПЕРВЫЙ блок--- */
.hero__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: var(--gap);
}

.hero__img-logo {
	max-width: 200px;
}

.hero__img-text {
	max-width: 900px;
}

.hero__name {
	max-width: 1190px;
	text-transform: uppercase;
	transition: all 3s ease-in-out;
}

.hero__desc:first-child {
	color: var(--color-yellow);
	font-weight: 800;
	font-size: 100px;
	line-height: 120px;
	letter-spacing: 0.08em;
}

.hero__desc:last-child {
	color: var(--color-green);
	font-weight: 500;
	font-size: 60px;
	line-height: 80px;
}

/* ---Блок "О нас"--- */
.about {
	width: 100%;
	background-color: var(--color-green);
}

.about__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
}

.about__desc {
	max-width: 900px;
	text-align: center;
	color: #fff;
}

/* ---Блок "Проекты"--- */
.projects__title {
	text-align: center;
}

.projects__content {
	display: flex;
	justify-content: center;
}
.projects__link {
	position: relative;
	padding: 25px 70px;
	border-radius: 10px;
	background-color: var(--color-green);
	transition: all 0.3s ease-in-out;
}

.projects__link:focus {
	background-color: #fff;
	outline: 1px solid var(--color-green);
}

.projects__link:focus .projects__link-text {
	color: var(--color-green);
}

.projects__link:hover {
	background-color: #fff;
	outline: 1px solid var(--color-green);
}

.projects__link:hover .projects__link-text {
	color: var(--color-green);
}

.projects__link:active {
	background-color: rgba(0, 146, 141, 0.8);
}

.projects__link:active .projects__link-text {
	color: #fff;
}

.projects__link-text {
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

.projects__link-text:first-child {
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.projects__link-text:last-child {
	color: #fff;
	font-weight: 800;
	font-size: 40px;
	line-height: 50px;
}

/* ---Блок-превью "Новости"--- */
.article__title-preview {
	text-align: center;
}

.article__content-preview {
	display: flex;
	justify-content: center;
}

.article__list-preview {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
	justify-content: center;
	max-width: 680px;
}

.article__item-preview {
	max-width: 320px;
}

.article__block-preview {
	overflow: hidden;
}

.article__link-preview {
	display: flex;
	flex-direction: column;
	transition: all 0.3s ease-in-out;
}

.article__link-preview:focus .article__text-preview {
	background-color: #00928d;
}

.article__link-preview:focus .article__time-preview {
	color: #fff;
}

.article__link-preview:focus .article__sub-title-preview {
	color: #fff;
}

.article__link-preview:focus .article__desc-preview {
	color: #fff;
}

.article__link-preview:hover .article__text-preview {
	background-color: var(--color-green);
}

.article__link-preview:hover .article__time-preview {
	color: #fff;
}

.article__link-preview:hover .article__sub-title-preview {
	color: #fff;
}

.article__link-preview:hover .article__desc-preview {
	color: #fff;
}

.article__link-preview:active .article__text-preview {
	background-color: #00726e;
}

.article__link-preview:active .article__time-preview {
	color: #fff;
}

.article__link-preview:active .article__sub-title-preview {
	color: #fff;
}

.article__link-preview:active .article__desc-preview {
	color: #fff;
}

.article__img-preview {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.article__text-preview {
	padding: 20px;
	transition: all 0.3s ease-in-out;
}

.article__time-preview {
	display: block;
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
}
.article__sub-title-preview {
	margin: 0;
	margin-bottom: 7px;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.article__desc-preview {
	line-height: 24px;
	max-width: 440px;
}

/* ---Подвал--- */
.footer {
	background-color: var(--color-green);
}
.footer__wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 0;
}
.footer__content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: left;
	color: #fff;
}

.footer__info {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.footer__desc {
	display: flex;
	margin-bottom: 20px;
	max-width: 400px;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
	line-height: 30px;
	color: #fff;
}

.footer__email {
	margin-bottom: 20px;
}

.footer__email:focus {
	color: var(--color-yellow);
}

.footer__email:hover {
	color: var(--color-yellow);
}

.footer__email:active {
	color: rgba(255, 186, 0, 0.8);
}

.footer__address {
	font-style: normal;
	max-width: 300px;
}

/* ------------- Страница "Проекты" -------------- */

.projects__list {
	padding: 0 var(--gap);
}

.project__item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

/* ---------------Вершины Кавказа-------------- */
.project__item:nth-child(1) {
	background-image: url(../img/projects/project-001.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* --------Народы России: наследники Ногая------ */
.project__item:nth-child(2) {
	background-image: url(../img/projects/project-002.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* ---Мифы о Кавказе--- */
.project__item:nth-child(3) {
	background-image: url(../img/projects/project-003.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.project__item:hover {
	color: var(--color-yellow);
	filter: drop-shadow(10px 20px 5px rgba(0, 0, 0, 0.5));
}

.project__item:active {
	color: var(--color-green);
	filter: none;
	background: none;
}

.project__link-wrapper-text {
	padding: 100px;
}

.project__link-text:first-child {
	font-weight: 500;
	font-size: 40px;
	line-height: 50px;
}

.project__link-text:last-child {
	font-weight: 800;
	font-size: 80px;
	line-height: 100px;
}

.project-pw a {
	text-align: center;
}

.project-pw .project__link-text:first-child {
	color: var(--color-yellow);
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
}

.project-pw .project__link-text:last-child {
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
}

/* -----------Страница "Вершины Кавказа"----------- */

/* ---О проекте--- */
.project__info-title-vrkz {
	text-align: left;
}

.project__info-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.project__sub-title {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.project__sub-title-word:first-child {
	color: var(--color-yellow);
	font-weight: 500;
	font-size: 40px;
	line-height: 50px;
}

.project__sub-title-word:last-child {
	color: var(--color-green);
	font-weight: 800;
	font-size: 70px;
	line-height: 50px;
}

.project__desc {
	text-align: center;
	font-weight: 500;
}

/* ---Контент проекта--- */
.project__content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project__content-first {
	margin-bottom: var(--gap);
}

.project__content-title {
	text-align: center;
	margin-bottom: 20px;
	font-size: 24px;
	color: var(--color-grey-dk);
}

.project__content-preview {
	display: flex;
	align-items: center;
}

.project__content-preview-text {
	padding-left: 50px;
	max-width: 450px;
	font-size: 16px;
	line-height: 20px;
}

.project__content-preview-desc:first-child {
	font-weight: 500;
	padding-bottom: 20px;
}

.project__content-preview-desc:last-child {
}

/* -----------------Страница "Новости"------------------ */

/* ---Новости--- */
.article__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--gap);
}

.article__item {
	width: 640px;
}

.article__link {
	display: flex;
	flex-wrap: wrap;
	transition: all 0.3s ease-in-out;
}

.article__link:focus {
}

.article__link:hover {
	color: #fff;
	background-color: var(--color-green);
}

.article__link:active {
	color: #fff;
	background-color: rgba(0, 146, 141, 0.8);
}

.article__block {
	overflow: hidden;
}

.article__img {
	object-fit: cover;
	max-width: 200px;
	height: 100%;
}

.article__text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;
	max-width: 440px;
}

.article__time {
	display: block;
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
}
.article__sub-title {
	margin: 0;
	margin-bottom: 7px;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
}
.article__desc {
	font-size: 14px;
	line-height: 24px;
}

/* -----Отдельная страница статьи----- */

.article__link-back {
	font-size: 18px;
}

.article__wrapper-news {
	padding: 0 100px;
}
.article-page__title {
}

.article-page__sub-title {
	padding-bottom: 30px;
	font-size: 20px;
	text-align: center;
}
.article__wrapper-info {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: var(--gap);
}
.article-page__sub-title {
}
.article-page__img {
	margin-bottom: 30px;
	max-width: 800px;
}
.article-page__desc {
	padding-bottom: 20px;
	text-align: left;
	max-width: 800px;
}

.article-page__desc-bold {
	font-weight: 500;
	font-size: 30px;
}

.article-page__sub-title-info {
}
.article-page__span {
}

.article-page__map {
	max-width: 600px;
}
