@font-face {
	font-family: "Onest";
	src: local(OnestLight), url(../fonts/OnestLight.woff2) format("woff2"),
		url(../fonts/OnestLight.woff) format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: local(OnestRegular), url(../fonts/OnestRegular.woff2) format("woff2"),
		url(../fonts/OnestRegular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: local(OnestMedium), url(../fonts/OnestMedium.woff2) format("woff2"),
		url(../fonts/OnestMedium.woff) format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: local(OnestExtraBold),
		url(../fonts/OnestExtraBold.woff2) format("woff2"),
		url(../fonts/OnestExtraBold.woff) format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

/* Микс */
:root {
	--color-green: #00928d;
	--color-yellow: #ffba00;
	--color-grey-dk: #666;
	--gap: 40px;
}
html {
	box-sizing: border-box;
	line-height: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

img {
	max-width: 100%;
}

body {
	min-width: 320px;
	font-family: "Onest", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: #333;
	background-color: #fff;
}

/* Blog */
.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.section-title {
	margin: 0;
	width: 100%;
	padding-bottom: 20px;
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	color: var(--color-grey-dk);
}

.section-offset {
	margin-bottom: var(--gap);
}

.container {
	margin: 0 auto;
	padding: 0 250px;
	max-width: 1900px;
}

/* header */
.header__wrapper {
	padding: 20px 0;
}

.hero__logo {
	max-width: 200px;
}

.pages__nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.home__link {
	max-width: 50px;
}

.nav__list {
	display: flex;
	justify-content: flex-end;
	gap: var(--gap);
}

.nav__link {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

/* hero */

.hero {
}

.hero__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: var(--gap);
}

.hero__logo {
}

.hero__name {
	max-width: 1190px;
	text-transform: uppercase;
	transition: all 3s ease-in-out;
}

.hero__desc:first-child {
	color: var(--color-yellow);
	font-weight: 800;
	font-size: 100px;
	line-height: 120px;
}

.hero__desc:last-child {
	color: var(--color-green);
	font-weight: 500;
	font-size: 60px;
	line-height: 80px;
}

/* about */
.about {
	width: 100%;
	background-color: var(--color-green);
}
.about__wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
}
.about__desc {
	max-width: 900px;
	text-align: center;
	color: #fff;
}
.about__logo {
	position: absolute;
	right: 0;
	bottom: var(--gap);
	max-width: 63px;
}

/* projects */
.projects {
}
.projects__wrapper {
}
.projects__title {
	text-align: center;
}
.section-title {
}
.projects__content {
	display: flex;
	justify-content: center;
}
.projects__link {
	padding: 25px 70px;
	color: #fff;
	border-radius: 10px;
	background-color: var(--color-green);
}

.projects__link-text {
	text-transform: uppercase;
}

.projects__link-text:first-child {
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.projects__link-text:last-child {
	color: #fff;
	font-weight: 800;
	font-size: 40px;
	line-height: 50px;
}

/* news */
.news__title {
	text-align: center;
}

.news__wrapper {
	/* padding: 0 auto; */
}

.news__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	grid-gap: var(--gap);
	max-width: max-content;
	margin: 0 auto;
}
.news__item {
	max-width: 320px;
}

.news-preview {
	overflow: hidden;
}

.news-preview__img {
	object-fit: cover;
}

.news-preview__text {
	padding: 20px;
}

.news-preview__time {
	display: block;
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
}
.news-preview__title {
	margin: 0;
	margin-bottom: 7px;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.news-preview__desc {
	line-height: 24px;
}

/* footer */
.footer {
	background-color: var(--color-green);
}
.footer__wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 0;
}
.footer__content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: left;
	color: #fff;
}

.footer__info {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.footer__logo {
}
.footer__desc {
	display: flex;
	margin-bottom: 20px;
	max-width: 400px;
}
.footer-copy {
}
.footer__contacts {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
	max-width: 300px;
	line-height: 30px;
	color: #fff;
}

.footer__email {
	margin-bottom: 20px;
}

.footer__address {
	font-style: normal;
}

/* ------------- Страница Проекты -------------- */

/* Вершины Кавказа */
.peaks-of-the-caucasus {
}

.project__wrapper {
	max-width: 1700px;
}

.peaks-of-the-caucasus .project__wrapper {
	width: 100%;
	background-image: url(../img/projects/project-001.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.project__link {
	display: flex;
	justify-content: center;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
}

.link__wrapper {
	padding: 100px 0;
}

.project__link-text:first-child {
	font-weight: 500;
	font-size: 40px;
	line-height: 50px;
}

.project__link-text:last-child {
	font-weight: 800;
	font-size: 80px;
	line-height: 100px;
}

/* Народы России: наследники Ногая */
.the-heirs-of-nogai {
}

.the-heirs-of-nogai .project__wrapper {
	background-image: url(../img/projects/project-002.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.the-heirs-of-nogai .project__link {
	text-align: center;
}

.the-heirs-of-nogai .project__link-text:first-child {
	color: var(--color-yellow);
	font-weight: 700;
	font-size: 60px;
	line-height: 70px;
}

.the-heirs-of-nogai .project__link-text:last-child {
	color: var(--color-green);
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
}

/* Мифы о Кавказе */
.caucasus-myths {
}

.caucasus-myths .project__wrapper {
	background-image: url(../img/projects/project-003.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.caucasus-myths .project__link {
	text-align: center;
}

.caucasus-myths .project__link-text:first-child {
	color: var(--color-yellow);
	font-weight: 700;
	font-size: 60px;
	line-height: 70px;
}

.caucasus-myths .project__link-text:last-child {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
}

/* -----------* ВЕРШИНЫ КАВКАЗА *----------- */

/* hero */
.hero-project__wrapper {
	display: flex;
	flex-direction: column;
}

/* project info */
.project__info-title-vrkz {
	text-align: left;
}

.project__info-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.project__sub-title {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.project__sub-title-word:first-child {
	color: var(--color-yellow);
	font-weight: 500;
	font-size: 40px;
	line-height: 50px;
}

.project__sub-title-word:last-child {
	color: var(--color-green);
	font-weight: 800;
	font-size: 60px;
}

.project__desc {
	text-align: center;
	font-weight: 500;
}

/* content */
.project__content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project__content-first {
	margin-bottom: var(--gap);
}

.project__content-second {
}

.project__content-title {
	text-align: center;
	margin-bottom: 20px;
	font-size: 24px;
	color: var(--color-grey-dk);
}

.project__content-preview {
	display: flex;
	align-items: center;
}

.project__content-preview-text {
	padding-left: 50px;
	max-width: 450px;
	font-size: 14px;
	line-height: 20px;
}

.project__content-preview-desc:first-child {
	padding-bottom: 20px;
}

.project__content-preview-desc:last-child {
}
