@font-face {
	font-family: "Onest";
	src: local(OnestLight), url(../fonts/OnestLight.woff2) format("woff2"),
		url(../fonts/OnestLight.woff) format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: local(OnestRegular), url(../fonts/OnestRegular.woff2) format("woff2"),
		url(../fonts/OnestRegular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: local(OnestMedium), url(../fonts/OnestMedium.woff2) format("woff2"),
		url(../fonts/OnestMedium.woff) format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: local(OnestExtraBold),
		url(../fonts/OnestExtraBold.woff2) format("woff2"),
		url(../fonts/OnestExtraBold.woff) format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

/* Микс */
:root {
	--color-green: #00928d;
	--color-yellow: #ffba00;
	--color-grey-dk: #666;
	--gap: 40px;
}

/* All-settings */
html {
	box-sizing: border-box;
	line-height: 0;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

img {
	max-width: 100%;
}

body {
	min-width: 320px;
	font-family: "Onest", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4;
	color: #333;
	background-color: #fff;
}

/* All-resets */
.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.section-title {
	margin: 0;
	width: 100%;
	padding-bottom: 20px;
	font-weight: 500;
	font-size: 30px;
	color: var(--color-grey-dk);
}

.section-offset {
	margin-bottom: var(--gap);
}

.container {
	margin: 0 auto;
	padding: 0 200px;
	max-width: 1900px;
}

/* ---Шапка--- */
.header {
	margin-bottom: var(--gap);
	box-shadow: 0px 10px 10px rgb(0 0 0 / 10%);
}

.header__wrapper {
	padding: 20px 0;
}

.pages__nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.home__link {
	display: inline-flex;
	max-width: 50px;
}

.home__link:hover {
	filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.home__link:active {
	filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}

.nav__list {
	display: flex;
	justify-content: flex-end;
	gap: var(--gap);
}

.nav__link {
	color: var(--color-grey-dk);
	font-weight: 500;
	font-size: 20px;
	transition: all 0.3s ease-in-out;
}

.nav__link:focus {
	outline: 1px solid var(--color-green);
	outline-offset: 2px;
	border-radius: 5px;
}

.nav__link:hover {
	border-bottom: 1px solid var(--color-green);
	outline: transparent;
}

.nav__link:active {
	color: var(--color-yellow);
	border-bottom: 1px solid var(--color-green);
	border-radius: 0;
	outline: transparent;
}

/* ---ПЕРВЫЙ блок--- */
.hero__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--gap);
}

.hero__img-logo {
	max-width: 15%;
}

.hero__img-text {
	max-width: 60%;
}

.hero__name {
	text-transform: uppercase;
	transition: all 3s ease-in-out;
}

.hero__desc:first-child {
	color: var(--color-yellow);
	font-weight: 800;
	font-size: 100px;
	letter-spacing: 0.08em;
}

.hero__desc:last-child {
	color: var(--color-green);
	font-weight: 500;
	font-size: 60px;
}

/* ---Блок "О нас"--- */
.about {
	width: 100%;
	background-color: var(--color-green);
}

.about__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--gap) 0;
}

.about__desc {
	max-width: 900px;
	text-align: center;
	color: #fff;
}

/* ---Блок "Проекты"--- */
.projects-preview__title {
	text-align: center;
}

.projects-preview__link-wrapper {
	display: flex;

	justify-content: center;
}
.projects-preview__link {
	padding: 25px 70px;
	border-radius: 10px;
	background-color: var(--color-green);
	transition: all 0.3s ease-in-out;
}

.projects-preview__link:focus {
	background-color: #fff;
	outline: 1px solid var(--color-green);
}

.projects-preview__link:focus .projects-preview__link-text {
	color: var(--color-green);
}

.projects-preview__link:hover {
	background-color: #fff;
	outline: 1px solid var(--color-green);
}

.projects-preview__link:hover .projects-preview__link-text {
	color: var(--color-green);
}

.projects-preview__link:active {
	background-color: rgba(0, 146, 141, 0.8);
}

.projects-preview__link:active .projects-preview__link-text {
	color: #fff;
}

.projects-preview__link-text {
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

.projects-preview__link-text:first-child {
	color: #fff;
	font-weight: 500;
	font-size: 24px;
}

.projects-preview__link-text:last-child {
	color: #fff;
	font-weight: 800;
	font-size: 40px;
}

/* ---Блок-превью "Новости"--- */
.article-preview__title {
	text-align: center;
}

.articles-preview__content-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	grid-gap: var(--gap);
	margin: 0 auto;
	max-width: max-content;
}

.articles-preview__content {
	overflow: hidden;
	max-width: 400px;
}

.articles-preview__link {
	display: flex;
	flex-direction: column;
	transition: all 0.3s ease-in-out;
}

.articles-preview__link:focus .articles-preview__text {
	background-color: #00928d;
}

.articles-preview__link:focus .articles-preview__time {
	color: #fff;
}

.articles-preview__link:focus .articles-preview__sub-title {
	color: #fff;
}

.articles-preview__link:focus .articles-preview__desc {
	color: #fff;
}

.articles-preview__link:hover .articles-preview__text {
	background-color: var(--color-green);
}

.articles-preview__link:hover .articles-preview__time {
	color: #fff;
}

.articles-preview__link:hover .articles-preview__sub-title {
	color: #fff;
}

.articles-preview__link:hover .articles-preview__desc {
	color: #fff;
}

.articles-preview__link:active .articles-preview__text {
	background-color: #00726e;
}

.articles-preview__link:active .articles-preview__time {
	color: #fff;
}

.articles-preview__link:active .articles-preview__sub-title {
	color: #fff;
}

.articles-preview__link:active .articles-preview__desc {
	color: #fff;
}

.articles-preview__img {
	object-fit: cover;
}

.articles-preview__text {
	padding: 20px;
	height: 150px;
	transition: all 0.3s ease-in-out;
}

.articles-preview__time {
	display: block;
	padding-bottom: 10px;
	font-weight: 300;
	font-size: 12px;
}
.articles-preview__sub-title {
	padding-bottom: 5px;
	font-weight: 500;
	font-size: 16px;
}

.articles-preview__desc {
	font-size: 14px;
}

/* ---Подвал--- */
.footer {
	background-color: var(--color-green);
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	padding: var(--gap) 0;
}

.footer__content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: left;
	color: #fff;
}

.footer__logo {
	display: inline-flex;
}

.footer__info {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.footer__desc {
	display: flex;
	margin-bottom: 20px;
	max-width: 400px;
}

.footer__contacts {
	display: flex;
	flex-direction: column;

	justify-content: center;
	text-align: right;
	color: #fff;
}

.footer__email {
	margin-bottom: 20px;
}

.footer__email:focus {
	color: var(--color-yellow);
}

.footer__email:hover {
	color: var(--color-yellow);
}

.footer__email:active {
	color: rgba(255, 186, 0, 0.8);
}

.footer__address {
	font-style: normal;
	max-width: 300px;
}

/* ------------- Страница "Проекты" -------------- */
.projects__wrapper {
	padding: 0 25px;
}

.projects__link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin-bottom: var(--gap);
	height: 320px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

/* ---------------Вершины Кавказа-------------- */
.projects__link:nth-child(1) {
	background-image: url(../img/projects/project-001.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* --------Народы России: наследники Ногая------ */
.projects__link:nth-child(2) {
	background-image: url(../img/projects/project-002.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* ---Мифы о Кавказе--- */
.projects__link:nth-child(3) {
	background-image: url(../img/projects/project-003.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.projects__link:hover {
	color: var(--color-yellow);
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.projects__link:active {
	color: var(--color-green);
	filter: none;
	background: none;
}

.projects__link-text:first-child {
	font-weight: 500;
	font-size: 40px;
}

.projects__link-text:last-child {
	font-weight: 800;
	font-size: 80px;
}

.projects-pw .projects__link-wrapper-text {
	text-align: center;
}

.projects-pw .projects__link-text:first-child {
	color: var(--color-yellow);
	font-weight: 700;
	font-size: 40px;
}

.projects-pws .projects__link-text:last-child {
	color: #fff;
	font-weight: 700;
	font-size: 30px;
}

/* -----------Страница "Вершины Кавказа"----------- */

/* ---О проекте--- */
.project__title {
	margin-bottom: 20px;
}

.project__info-title-vrkz {
	text-align: left;
}

.project__info-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project__sub-title {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.project__sub-title-word:first-child {
	color: var(--color-yellow);
	font-weight: 500;
	font-size: 50px;
}

.project__sub-title-word:last-child {
	color: var(--color-green);
	font-weight: 800;
	font-size: 80px;
}

.project__desc {
	text-align: center;
	font-weight: 500;
}

/* ---Контент проекта--- */
.project__wrapper {
	padding: 0 25px;
}
.project__content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project__content-title {
	text-align: center;
}

.project__content-first {
	margin-bottom: var(--gap);
}

.project__content-preview {
	display: flex;
	align-items: center;
}

.project__content-preview-text {
	padding-left: 50px;
	max-width: 450px;
}

.project__content-preview-desc:first-child {
	font-weight: 500;
	padding-bottom: 20px;
}

/* .project__content-preview-desc:last-child {
} */

/* -----------------Страница "Новости"------------------ */
.articles-page {
	display: flex;
	padding: 0 25px;
}

.articles-page__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 15fr);
	justify-items: center;
	grid-gap: var(--gap);
	max-width: max-content;
	margin: 0 auto;
}

.articles__link {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.articles__link:hover {
	color: #fff;
	background-color: var(--color-green);
}

.articles__link:active {
	color: #fff;
	background-color: rgba(0, 146, 141, 0.8);
}

.articles__img {
	object-fit: cover;
	max-width: 230px;
}

.articles__text {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 10px;
	max-width: 230px;
}

.articles__time {
	display: block;
	margin-bottom: 5px;
	font-weight: 300;
	font-size: 14px;
}

.articles__sub-title {
	margin: 0;
	font-weight: 500;
}

.articles__desc {
	font-size: 14px;
}

/* -----Отдельная страница статьи----- */
.article-page__wrapper-news {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.article-page__title {
	text-align: center;
}

.article-page__wrapper-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: var(--gap);
}

.article-page__sub-title {
	text-align: center;
	font-size: 20px;
}

.article-page__img {
	margin-bottom: 30px;
	max-width: 50%;
}

.article-page__desc {
	padding-bottom: 20px;
	text-align: left;
}

.article-page__desc-bold {
	font-weight: 500;
	font-size: 30px;
}

.article-page__map iframe {
	width: 638px;
	height: 238px;
}
/* ----------------------------------------------------------------------------------------- */
